/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Lato|Montserrat");
/* Icons */
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
.hobbies {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin: 0 0 2em; }
  .hobbies .panel-container {
    flex-flow: column nowrap;
    width: 75%;
    min-height: 360px;
    margin-top: 2em; }
  .hobbies .list {
    display: flex;
    flex-flow: row nowrap;
    width: 100%; }
  .hobbies .item {
    display: flex;
    flex: 1 1 0;
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 300px;
    padding: .8em; }
    .hobbies .item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
