/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Lato|Montserrat");
/* Icons */
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
/**
*
* Utils
*
**/
/*==========  VARIABLES  ==========*/
@font-face {
  font-family: 'camptonbold';
  src: url("/fonts/campton-bolddemo-webfont.eot");
  src: url("/fonts/campton-bolddemo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/campton-bolddemo-webfont.woff2") format("woff2"), url("/fonts/campton-bolddemo-webfont.woff") format("woff"), url("/fonts/campton-bolddemo-webfont.ttf") format("truetype"), url("/fonts/campton-bolddemo-webfont.svg#camptonbold_demo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'camptonlight';
  src: url("/fonts/campton-lightdemo-webfont.eot");
  src: url("/fonts/campton-lightdemo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/campton-lightdemo-webfont.woff2") format("woff2"), url("/fonts/campton-lightdemo-webfont.woff") format("woff"), url("/fonts/campton-lightdemo-webfont.ttf") format("truetype"), url("/fonts/campton-lightdemo-webfont.svg#camptonlight_demo") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==========  FUNCTIONS  ==========*/
/*==========  MIXINS  ==========*/
.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.better-fade {
  animation: fade 1s forwards;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
  opacity: 0;
  transform: translateZ(0); }
  .better-fade::after {
    animation: fade-gradient 1s forwards;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: #111; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-gradient {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

/* @include fadeInUp(
    $duration: 1s,
    $count: 2,
    $delay: .2s,
    $function: ease,
    $fill: both
  );*/
@media only screen and (min-width: 800px) {
  .perfect-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); } }

@media only screen and (min-width: 620px) {
  .perfect-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); } }

@media only screen and (max-width: 619px) {
  .responsive--vertical-center {
    top: 50%;
    transform: translateY(-50%); } }

/* General */
.flow {
  /* Highlights */
  /* Skills */ }
  .flow section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: 0 0 4em; }
  .flow p, .flow a {
    color: #272727;
    font-family: 'Montserrat-Light', sans-serif; }
  .flow .panel-container {
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
    margin: 1em 0;
    min-height: 480px; }
  .flow .left-container, .flow .right-container {
    width: 50%; }
  .flow .content-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start; }
  .flow .highlights {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start; }
    .flow .highlights > div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 0 .5em; }
    .flow .highlights img {
      width: 3em;
      height: 3em;
      object-fit: contain; }
    .flow .highlights p {
      margin-left: .7em; }
    .flow .highlights:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2px;
      background-color: #C4C4C4;
      opacity: .5; }
  .flow .skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0; }
    .flow .skills p {
      min-width: 120px;
      margin: 0;
      color: #272727;
      text-align: left; }
    .flow .skills span {
      color: #272727;
      border-radius: 100%;
      transition: .6s background-color;
      display: inline-flex;
      position: relative;
      margin-right: 4px; }
      @media only screen and (max-width: 619px) {
        .flow .skills span {
          margin: 10px; } }
      .flow .skills span:after {
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        font-family: 'Montserrat-Light', sans-serif;
        font-size: 12px;
        color: #111;
        text-shadow: .02em .02em .02em #fff;
        text-align: center;
        white-space: nowrap;
        content: attr(data-skill);
        cursor: help;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity .6s, transform .6s; }
        @media only screen and (max-width: 619px) {
          .flow .skills span:after {
            opacity: 1;
            transform: translateY(0px); } }
      .flow .skills span:hover i, .flow .skills span:hover img {
        stroke-width: 2px;
        opacity: .6;
        transition: .3s opacity, .5s stroke-width .15s; }
      .flow .skills span:hover:after {
        opacity: 1;
        transform: translateY(0px); }
    .flow .skills i, .flow .skills img {
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
      margin: 0;
      font-size: 3em;
      stroke: #fff;
      stroke-width: 100px;
      opacity: 1;
      cursor: help;
      transition: .3s opacity, .5s stroke-width .15s; }
      @media only screen and (max-width: 619px) {
        .flow .skills i, .flow .skills img {
          opacity: 1;
          stroke-width: 0px; } }

/* Overview */
.overview {
  background: #FEFEFE; }
  .overview .content-container {
    padding: 0 3em; }

/* Coder */
.coder {
  background: #FEFEFE; }
  .coder .content-container {
    padding: 0 8em; }

/* Writer */
.writer {
  background: #FEFEFE; }
  .writer .content-container {
    padding: 0 3em; }

/* Designer */
.designer {
  background: #FEFEFE; }
  .designer .content-container {
    padding: 0 8em; }
  .designer .skills p {
    min-width: 88px; }
