/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
/* General */
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Cabin|Montserrat");
body {
  background: #FEFEFE; }

p, span, h1, h2, h3, h4, h5, h6, a, button, input {
  color: #FEFEFE;
  font-family: Montserrat, sans-serif;
  white-space: pre-wrap; }

p {
  margin: 1em 0; }

a {
  text-decoration: none;
  transition: opacity .6s ease; }
  a:hover {
    opacity: .6;
    text-decoration: none; }

.button {
  padding: 1rem;
  border-radius: 4px;
  background: #434343;
  color: white;
  font-size: 1.25rem; }
  .button:hover {
    color: white; }

/* Bootstrap */
.container-fluid {
  padding: 0; }

.row {
  margin: 0; }

/* Utils */
/**
*
* Utils
*
**/
/*==========  VARIABLES  ==========*/
@font-face {
  font-family: 'camptonbold';
  src: url("/fonts/campton-bolddemo-webfont.eot");
  src: url("/fonts/campton-bolddemo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/campton-bolddemo-webfont.woff2") format("woff2"), url("/fonts/campton-bolddemo-webfont.woff") format("woff"), url("/fonts/campton-bolddemo-webfont.ttf") format("truetype"), url("/fonts/campton-bolddemo-webfont.svg#camptonbold_demo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'camptonlight';
  src: url("/fonts/campton-lightdemo-webfont.eot");
  src: url("/fonts/campton-lightdemo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/campton-lightdemo-webfont.woff2") format("woff2"), url("/fonts/campton-lightdemo-webfont.woff") format("woff"), url("/fonts/campton-lightdemo-webfont.ttf") format("truetype"), url("/fonts/campton-lightdemo-webfont.svg#camptonlight_demo") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==========  FUNCTIONS  ==========*/
/*==========  MIXINS  ==========*/
.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.better-fade {
  animation: fade 1s forwards;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
  opacity: 0;
  transform: translateZ(0); }
  .better-fade::after {
    animation: fade-gradient 1s forwards;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: #111; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-gradient {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

/* @include fadeInUp(
    $duration: 1s,
    $count: 2,
    $delay: .2s,
    $function: ease,
    $fill: both
  );*/
@media only screen and (min-width: 800px) {
  .perfect-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); } }

@media only screen and (min-width: 620px) {
  .perfect-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); } }

@media only screen and (max-width: 619px) {
  .responsive--vertical-center {
    top: 50%;
    transform: translateY(-50%); } }

/* Components */
/* NavBar */
/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  margin: .5em .8em 0; }
  nav .social-box {
    display: flex; }
  nav ul {
    list-style-type: none;
    padding: 0; }
  nav li {
    display: inline-block; }
  nav a {
    padding: 0 4px 0;
    color: #434343; }
  nav span {
    color: #434343;
    font-size: 1.4em;
    font-weight: 900; }

/* Menu */
/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
/* General sidebar styles */
.bm-menu-wrap {
  z-index: 1200 !important; }
  .bm-menu-wrap nav {
    margin: 0; }
  .bm-menu-wrap p, .bm-menu-wrap a {
    font-family: 'Montserrat-Light', sans-serif; }
  .bm-menu-wrap .bm-item-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0.8em; }

/* Left Menu */
.bm-menu-wrap-left {
  background: #434343;
  /* Wrapper for item list */ }
  .bm-menu-wrap-left .bm-item-list a {
    padding: .5em 0;
    color: #FEFEFE;
    font-size: 1.3em;
    text-transform: uppercase; }

/* Right Menu */
.bm-menu-wrap-right {
  background: #FEFEFE; }
  .bm-menu-wrap-right p {
    color: #434343;
    font-size: .9em;
    text-align: center;
    margin-top: 1em;
    line-height: 1.5em; }
  .bm-menu-wrap-right a {
    padding: 0;
    white-space: normal;
    text-decoration: underline; }
  .bm-menu-wrap-right .profile-picture {
    width: 55%;
    border-radius: 50%;
    border: .5px solid lightgray; }
  .bm-menu-wrap-right .links-container {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1em; }
    .bm-menu-wrap-right .links-container img {
      width: 42px;
      height: 42px;
      border-radius: 8px; }
    .bm-menu-wrap-right .links-container a {
      text-decoration: none; }
  .bm-menu-wrap-right .connsuite-badge {
    margin-top: 1em; }

.bm-menu {
  padding: 0 0 12em;
  font-size: 1.15em;
  overflow: hidden !important; }

/* Position and sizing of burger button */
.bm-burger-button-left {
  position: fixed;
  top: .5em;
  width: 1.5em;
  height: 1.5em;
  left: .6em; }

.bm-burger-button-right {
  position: fixed;
  top: .5em;
  right: .6em; }
  .bm-burger-button-right span {
    color: #434343;
    font-size: 1.3em;
    font-weight: 900; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 1.5em;
  width: 1.5em; }

/* Color/shape of close button cross */
.bm-cross-left {
  background: #FEFEFE; }

.bm-cross-right {
  background: #434343; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #FEFEFE; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

/* Main */
/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
/**
*
* Utils
*
**/
/*==========  VARIABLES  ==========*/
@font-face {
  font-family: 'camptonbold';
  src: url("/fonts/campton-bolddemo-webfont.eot");
  src: url("/fonts/campton-bolddemo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/campton-bolddemo-webfont.woff2") format("woff2"), url("/fonts/campton-bolddemo-webfont.woff") format("woff"), url("/fonts/campton-bolddemo-webfont.ttf") format("truetype"), url("/fonts/campton-bolddemo-webfont.svg#camptonbold_demo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'camptonlight';
  src: url("/fonts/campton-lightdemo-webfont.eot");
  src: url("/fonts/campton-lightdemo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/campton-lightdemo-webfont.woff2") format("woff2"), url("/fonts/campton-lightdemo-webfont.woff") format("woff"), url("/fonts/campton-lightdemo-webfont.ttf") format("truetype"), url("/fonts/campton-lightdemo-webfont.svg#camptonlight_demo") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==========  FUNCTIONS  ==========*/
/*==========  MIXINS  ==========*/
.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.better-fade {
  animation: fade 1s forwards;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
  opacity: 0;
  transform: translateZ(0); }
  .better-fade::after {
    animation: fade-gradient 1s forwards;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: #111; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-gradient {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

/* @include fadeInUp(
    $duration: 1s,
    $count: 2,
    $delay: .2s,
    $function: ease,
    $fill: both
  );*/
@media only screen and (min-width: 800px) {
  .perfect-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); } }

@media only screen and (min-width: 620px) {
  .perfect-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); } }

@media only screen and (max-width: 619px) {
  .responsive--vertical-center {
    top: 50%;
    transform: translateY(-50%); } }

/* General */
.flow section {
  min-height: 360px;
  margin: 4rem 0;
  padding-top: 4rem; }

.flow p, .flow a {
  color: #434343;
  font-family: 'Montserrat-Light', sans-serif; }

.flow .content-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

@media (max-width: 1200px) {
  .flow .content-container {
    align-items: center; } }

/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
.springboard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #FEFEFE; }
  .springboard .content-container {
    padding-bottom: 4rem; }
    .springboard .content-container img {
      width: 388px;
      height: 388px; }
    .springboard .content-container h3, .springboard .content-container a, .springboard .content-container p {
      font-family: 'Montserrat-Light', sans-serif;
      font-size: 1rem;
      text-align: center; }
    .springboard .content-container h3 {
      margin-top: 2rem;
      color: #434343;
      line-height: 1.2rem; }
    .springboard .content-container a {
      margin-top: 1.5rem;
      color: white; }
    .springboard .content-container p {
      font-size: .6rem; }
      .springboard .content-container p a {
        color: #434343;
        font-size: .6rem; }

/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
/**
*
* Utils
*
**/
/*==========  VARIABLES  ==========*/
@font-face {
  font-family: 'camptonbold';
  src: url("/fonts/campton-bolddemo-webfont.eot");
  src: url("/fonts/campton-bolddemo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/campton-bolddemo-webfont.woff2") format("woff2"), url("/fonts/campton-bolddemo-webfont.woff") format("woff"), url("/fonts/campton-bolddemo-webfont.ttf") format("truetype"), url("/fonts/campton-bolddemo-webfont.svg#camptonbold_demo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'camptonlight';
  src: url("/fonts/campton-lightdemo-webfont.eot");
  src: url("/fonts/campton-lightdemo-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/campton-lightdemo-webfont.woff2") format("woff2"), url("/fonts/campton-lightdemo-webfont.woff") format("woff"), url("/fonts/campton-lightdemo-webfont.ttf") format("truetype"), url("/fonts/campton-lightdemo-webfont.svg#camptonlight_demo") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==========  FUNCTIONS  ==========*/
/*==========  MIXINS  ==========*/
.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.better-fade {
  animation: fade 1s forwards;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
  opacity: 0;
  transform: translateZ(0); }
  .better-fade::after {
    animation: fade-gradient 1s forwards;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: #111; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-gradient {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

/* @include fadeInUp(
    $duration: 1s,
    $count: 2,
    $delay: .2s,
    $function: ease,
    $fill: both
  );*/
@media only screen and (min-width: 800px) {
  .perfect-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); } }

@media only screen and (min-width: 620px) {
  .perfect-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); } }

@media only screen and (max-width: 619px) {
  .responsive--vertical-center {
    top: 50%;
    transform: translateY(-50%); } }

/* Platforms */
.platforms {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 !important;
  background: #F7F7F9; }
  .platforms h1 {
    margin-top: 3.5rem;
    color: #434343;
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem; }
  .platforms img {
    width: 80%;
    margin: 1rem 0 2rem 0; }

/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
.downloads {
  padding-top: 0 !important; }
  .downloads .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3rem 0;
    width: 100%; }
    .downloads .list .item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      min-height: 150px; }
      .downloads .list .item i {
        font-size: 108px; }
      .downloads .list .item .text {
        margin: .5rem 0 0 0;
        font-family: 'Montserrat-Light', sans-serif;
        text-align: center; }
      .downloads .list .item h3 {
        color: #434343;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2em;
        letter-spacing: 1px; }
      .downloads .list .item a {
        width: 216px;
        color: white;
        font-size: .8rem; }

/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
.donations {
  margin-bottom: 0 !important;
  padding-bottom: 4rem !important;
  background: #F7F7F9; }
  .donations .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3rem 0;
    width: 100%; }
    .donations .list .item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      min-height: 150px; }
      .donations .list .item img {
        width: 108px;
        height: 108px; }
      .donations .list .item p {
        margin: .5rem 0 0 0;
        max-width: 75%;
        color: #434343;
        font-family: 'Montserrat-Light', sans-serif;
        font-size: .54rem;
        font-weight: 300;
        line-height: 2em;
        letter-spacing: 1px;
        text-align: center;
        word-break: break-all; }

/* Springboard */
/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
.springboard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #FEFEFE; }
  .springboard .content-container {
    padding-bottom: 4rem; }
    .springboard .content-container img {
      width: 388px;
      height: 388px; }
    .springboard .content-container h3, .springboard .content-container a, .springboard .content-container p {
      font-family: 'Montserrat-Light', sans-serif;
      font-size: 1rem;
      text-align: center; }
    .springboard .content-container h3 {
      margin-top: 2rem;
      color: #434343;
      line-height: 1.2rem; }
    .springboard .content-container a {
      margin-top: 1.5rem;
      color: white; }
    .springboard .content-container p {
      font-size: .6rem; }
      .springboard .content-container p a {
        color: #434343;
        font-size: .6rem; }

/* Footer */
/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  background: #FEFEFE; }
  footer .copyright {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  footer p, footer a {
    color: #434343;
    font-family: 'Montserrat-Light', sans-serif; }
  footer p {
    font-size: .75em; }
  footer a {
    text-decoration: underline; }
  footer a:hover {
    opacity: .75; }

/* Reusable */
/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
.notice {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  margin-bottom: 1em;
  text-align: center; }
  .notice h2 {
    color: #434343;
    font-size: 2em;
    line-height: 2em;
    margin: 0; }
  .notice p {
    color: #C4C4C4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%; }
    .notice p :before {
      margin: 0; }
  .notice .space {
    width: 100px;
    height: 4px;
    background-color: #434343;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 1.8em; }

/* Sizes */
/* Colors */
/* Personal */
/* Fonts */
.poster {
  width: 100%;
  height: 100%;
  position: relative; }
  .poster .base {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 480px; }
  .poster div:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .poster h1 {
    color: white;
    font-size: 2.7vw;
    text-align: center;
    z-index: 100;
    margin: 0; }
    @media (max-width: 768px) {
      .poster h1 {
        font-size: 1.8em; } }
