@import '../globals.scss';

footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3em;
	background: $lightgray;

	.copyright {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
	}

	p, a {
		color: $darkgray;
		font-family: 'Montserrat-Light', sans-serif;
	}

	p {
		font-size: .75em;
	}

	a {
		text-decoration: underline;
	}

	a:hover {
		opacity: .75;
	}
}
