@import '../globals.scss';

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  margin: .5em .8em 0;

  .social-box {
    display: flex;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 0 4px 0;
    color: $darkgray;
  }

  span {
    color: $darkgray;
    font-size: 1.4em;
    font-weight: 900;
  }
}
