.sidebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px;
  background: #fefefe;
  box-shadow: inset 1px 0px 10px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;

  a {
    margin: 0px;
    padding: 12px;
    height: 60px;
    box-sizing: border-box;

    &:hover {
      border-bottom: 4px solid #f0ad4e;
      opacity: 0.8;
    }

    img {
      width: 36px;
      height: 36px;
    }
  }
}
