/* Personal */
$black: #171719;
$darkgray: #434343;
$gray: #C4C4C4;
$lightishgray: #F7F7F9;
$lightgray: #FEFEFE;

$main: #F0AD4E;
$complementary: #FBFBFB;
$divider: #E6E6E6;
$green: #69EBD0;
$text: #222;
$textlight: #7E8385;
