@import '../../globals.scss';

.downloads {
    padding-top: 0 !important;

    .list {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 3rem 0;
      width: 100%;

      .item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        min-height: 150px;

        i {
          font-size: 108px;
        }

        .text {
          margin: .5rem 0 0 0;
          font-family: 'Montserrat-Light', sans-serif;
          text-align: center;
        }

        h3 {
          color: $darkgray;
          font-size: 1.2rem;
          font-weight: 300;
          line-height: 2em;
          letter-spacing: 1px;
        }

        a {
          width: 216px;
          color: white;
          font-size: .8rem;
        }
      }
    }
}
