@import '../../globals.scss';
@import '../../utils.scss';

/* General */
.flow {
	section {
		min-height: 360px;
		margin: 4rem 0;
        padding-top: 4rem;
    }

	p, a {
		color: $darkgray;
		font-family: 'Montserrat-Light', sans-serif;
	}

	.content-container {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 1200px) {
	.flow {
		.content-container {
			align-items: center;
		}
	}
}
